/* Estilos específicos para la página de cumpleaños */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: url('imagenes/fondo.avif') no-repeat center center fixed; /* Agregar imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px; /* Limitar el ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px;
    
    border-radius: 10px; /* Bordes redondeados para el contenedor */
}

h1 {
    font-size: 2.5em; /* Aumentar el tamaño del título */
    margin-bottom: 10px;
}

p {
    font-size: 1.2em; /* Aumentar el tamaño del texto */
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Aumentar el espacio entre las imágenes */
    margin-top: 20px;
}

.image-button {
    width: 300px; /* Aumentar el ancho de las imágenes */
    height: 350px; /* Aumentar la altura de las imágenes */
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinear el contenido al inicio */
    background: white;
}

.image-button img {
    width: 100%;
    height: 75%; /* Ajustar la altura de la imagen */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.image-button:hover {
    transform: scale(1.05);
}

/* Texto debajo de cada imagen */
.image-text {
    font-size: 20px; /* Aumentar el tamaño del texto */
    font-weight: bold;
    color: black;
    padding: 10px;
    text-align: center; /* Centrar el texto */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    border-radius: 0 0 10px 10px; /* Bordes redondeados en la parte inferior */
}